<div class="video-container">
    <video autoplay muted loop>
      <source src="../../../assets/technology network loop background _ free hd motion background loop _ free youtube background video.mp4" type="video/mp4">
     
      Your browser does not support the video tag.
    </video>
    <div class="content">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, reprehenderit cum natus, architecto voluptate
      fuga aperiam inventore consequuntur, mollitia reiciendis blanditiis! Aperiam, dolorem esse! Modi similique suscipit
      atque ducimus officia?
    </div>
  </div>
  <!-- <div class="navbar">
    <img class="mainlogo" id="logo" src="../../../assets/images/lex fori logo.jpg" alt="" width="120px" height="50px" routerLink="/home" (click)="goOnHomepage()" />
  
    
    <button class="menu-icon" onclick="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </button>
  
    <div id="mobile-menu" class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
    </div>
  
    <div id="mobile-menu" class="sections">
    
      <a routerLink="/home" (click)="goOnHomepage()">Home</a>
      <a routerLink="/about">Company</a>
      <a routerLink="/events">Events</a>
      <a routerLink="/resources">Resources</a>
      <a routerLink="/career">Career</a>
      <a routerLink="/contact">Contact Us</a>
    </div>
  
    <div id="mobile-menu" class="socialmedia">
      <a href="https://www.facebook.com/" target="_blank"><i id="facebook" class="fa-brands fa-facebook m-2"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i id="instagram" class="fa-brands fa-instagram m-2"></i></a>
      <a href="https://www.linkedin.com/login" target="_blank"><i id="linkedin" class="fa-brands fa-linkedin m-2"></i></a>
      <a href="https://web.telegram.org/a/" target="_blank"><i id="telegram" class="fa-brands fa-telegram m-2"></i></a>
      <a href="#"><img src="../../../../assets/twitter.png" alt="" width="20px" height="15px" /></a>
      <a href="https://www.youtube.com/" target="_blank"><i id="youtube" class="fa-brands fa-youtube m-2"></i></a>
    </div>
  
    <button id="btn" mat-raised-button class="hover-button" (mouseover)="changeContent('Login/SignUp ')" (mouseout)="changeContent('My Lex Fori')">{{ buttonContent }}</button>
  </div> -->
  