<div class="video-container">
    <video autoplay muted loop>
      <source src="../../../assets/technology network loop background _ free hd motion background loop _ free youtube background video.mp4" type="video/mp4">
     
      Your browser does not support the video tag.
    </video>
    <div class="content">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, reprehenderit cum natus, architecto voluptate
      fuga aperiam inventore consequuntur, mollitia reiciendis blanditiis! Aperiam, dolorem esse! Modi similique suscipit
      atque ducimus officia?
    </div>
  </div>