.maincontant{
   background-image: url(../../assets/Ai.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    display: flex;

}
.firstcontainer, .secondcontainer{
  
    margin: 10%;
    padding: 10%;
  
}
.secondcontainer{
    background-color: whitesmoke;
}
