<div class="cointainer" #cointainer>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>city</th>
                <th>mobileNumber</th>
            </tr>
        </thead>
        <tr>
            <td>Raman</td>
            <td>City</td>
            <td>9634337861</td>
        </tr>
        <tr>
            <td>Raman</td>
            <td>City</td>
            <td>9634337861</td>
        </tr>
        <tr>
            <td>Raman</td>
            <td>City</td>
            <td>9634337861</td>
        </tr>

    </table>
</div>
<button mat-raised-button (click)="downloadPdf()" >Download <mat-icon>download</mat-icon></button>
